@model USP.Models.POCO.BankAddEdit
@{
    ViewBag.Title = "Create";
}
@section themes{
    <link href="~/Static/Css/usp/usp.bank.css" rel="stylesheet" />
}

<div class="panel panel-info">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-plus"></i>添加银行
        <div style="float: right;">
            <a href="Index"><i class="glyphicon glyphicon-chevron-left"></i>返回</a>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Bank", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">银行代码</label>
                <div class="col-md-10">
                    <input id="Number" name="Number" class="form-control" type="text" placeholder="银行代码选填,输入数字" />
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger"  })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">银行名称</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "银行名称必填", id = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", id = "errorname" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">简写</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", placeholder = "简写必填" } })
                    @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">别称</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NiceName, new { htmlAttributes = new { @class = "form-control", placeholder = "别称必填" } })
                    @Html.ValidationMessageFor(model => model.NiceName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">银行卡类型</label>
                <div class="col-md-10">
                    <select class="easyui-combobox" editable=false panelHeight=auto style="width: 90px;height:30px;" onLoadError="none" name="Type" id="Type">
                        <option value="0" selected="selected">==请选择==</option>
                        <option value="1">储蓄卡</option>
                        <option value="2">信用卡</option>
                        <option value="3">支付宝</option>
                    </select>
                    @Html.ValidationMessage("Type", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">银行图标</label>
                <div class="col-md-10">
                    <input id="Logo" name="Url" class="easyui-filebox" data-options="buttonText: '选择文件'"/>
                    @Html.ValidationMessage("Url", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">备注</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", placeholder = "备注选填" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" id="submit-btn" class="btn btn-primary" onclick="return usp.system.bank.checkType()"><i class="glyphicon glyphicon-plus"></i>&nbsp;添&nbsp;加</button>
                    @Html.ValidationMessage("errorresult", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    }
</div>

@section scripts{
    <script type="text/javascript" src="~/Static/Js/usp/usp.system.bank.js"></script>
    <script>
    $(function () {
        usp.init();
        usp.system.bank.checkBankName('');
    });
    </script>

}