@model  USP.Models.Entity.SysMenu
@{ ViewBag.Title = "审核通过";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="pull-right"><a href="javascript:history.go(-1)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-chevron-left"></span>返回</a></div>
        <span class="glyphicon glyphicon-ok"></span> 审核通过菜单
    </div>
</div>
@using (Html.BeginForm("Audit", "Menu", new { area = "System" }, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Parent, "上级菜单", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Parent)
            <input class="form-control valid" type="text" value="@ViewBag.MenuName" readonly>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, "菜单名称", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Icon, "图标", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Icon, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Clazz, "Class", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Clazz, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Area, "Area", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Area, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Controller, "Controller", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Controller, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Method, "Action", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Method, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Parameter, "Parameter", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Parameter, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Url, "Url", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Url, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Remark, "备注", new { @class = "col-sm-3 control-label" })
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", @readonly = true })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">通过审核</button>
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/Js/Usp")
    <script type="text/javascript" src="~/Static/Js/usp/usp.system.menu.js"></script>
    <script type="text/javascript">
    </script>
}

